header{
    background:#1a1a1a;
    color:#000000;
    min-height:70px;
    border-bottom: #ff0000 4px solid;
    font:15px/1.5 Arial, Helvetica, sans-serif;
    padding: 0 20px 0 20px;
    margin:0;
}

h2{
    padding-left: 50px;
    font-size: 50px;
}

.Texxt{
    font-size: 20px;
    padding-left: 150px;
}

.container{
    background:#1a1a1a;
    color:#000000;
    min-height:70px;
    font:15px/1.5 Arial, Helvetica, sans-serif;
    padding: 0 40px 0 40px;
    margin-bottom: 20px;
    padding-top: 5px;
}

header .brand{
    text-decoration: none;
    color: #ffffff;
}

header li{
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

header #branding{
    float:left;
    
}

header #branding{
    margin:0;
}

header nav{
    float: right;
    margin-top: 20px;
}

header .highlight, header .current a{
    color: red;
    font-weight: bold;
    text-decoration: none;
}
header .link:hover{
    color: #ff4d4d;
    font-weight: bold;
    cursor: pointer;
}

.link{
    color:#ffffff;
    text-decoration: none;
    font-size: 16px;
}

footer{
    padding: 20px;
    color:#ffffff;
    background-color: red;
    text-align: center;
}

@media(max-width: 768px) {
    header #branding,
    header nav,
    header nav li,
    #feedback h1{
        float: none;
        text-align: center;
        width: 100%;
    }

    header{
        padding-bottom: 20px;
    }
}